dev.www.paperwork.local:8000 {
    tls off
    proxy /  127.0.0.1:4200 {
        transparent
        websocket
    }
}

dev.api.paperwork.local:8000 {
    tls off
    proxy /  127.0.0.1:1337 {
        transparent
        header_downstream Access-Control-Allow-Origin "*"
    }
}
