INTERNAL_RESOURCE_CONFIGS=http://service_configs:8080/internal/configs
INTERNAL_RESOURCE_USERS=http://service_users:8080/internal/users
INTERNAL_RESOURCE_NOTES=http://service_notes:8080/internal/notes
INTERNAL_RESOURCE_ATTACHMENTS=http://service_storages:8080/internal/attachments
INTERNAL_RESOURCE_JOURNALS=http://service_journals:8080/internal/journals
