CONFIG_JSON={"port":8080,"jwt_secret":"ru4XngBQ/uXZX4o/dTjy3KieL7OHkqeKwGH9KhClVnfpEaRcpw+rNvvSiC66dyiY","services":[{"name":"users","target":"http://service_users:8080","endpoints":["/users","/registration","/login"]},{"name":"notes","target":"http://service_notes:8080","endpoints":["/notes"]},{"name":"storages","target":"http://service_storages:8080","endpoints":["/attachments"]},{"name": "profile_photos","target": "http://service_storages:8080","endpoints": ["/profile_photos"]}]}
